
body{ background-color: #fff;} 
.left,.f,.right,.r,.l{display:inline;float:left}
.right,.r{float:right}


.c_orange,.c_orange a{color:#F9A101}
.c_yellow,.c_yellow a{color:#ff0}
.c_red,.c_red a{color:#F00}
.c_blue,.c_blue a{color:#07F}
.c_blue{color:#287db3;}
.c_000{color:#000;}
.c_333{color:#333;}
.c_gray{color:#666}
.c_gray9{color:#999}
.c_org{color:#e87b10;}
.fb{font-weight:700}
.f12{font-size:12px}
.f14{font-size:14px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px}

.ft_fa{font-family:Arial;}
.fw_b{font-weight:bold;}
.fw_n{font-weight:normal;}
.lh20{line-height:20px;}
.lh24{line-height:24px;}

.txt_c{text-align:center;}
.txt_l{text-align:left;}
.txt_r{text-align:right;}
.text_r{text-align:right}

.m10{margin:10px;}
.m20{margin:20px;}
.mt4 {margin-top:4px;}
.mt5{margin-top:5px}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mb4 {margin-bottom:4px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.mr4{margin-right:4px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.p10{padding:10px;}
.p20{padding:20px;}
.pt4 {padding-top:4px;}
.pt10 {padding-top:10px;}
.pt20 {padding-top:20px;}
.pb4 {padding-bottom:4px;}
.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pl4{padding-left:4px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pr4{padding-right:4px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.mlr4{margin-left:4px; margin-right:4px;}
.mlr10{margin-left:10px; margin-right:10px;}
.dis{display:block}
.disn{display:none}
.zoom{zoom:1;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.dis_bk{display:block;}
.dis_none{display:none;}
.dis_in{display:inline;}
.nobrd{border:none;}
.w{width:100%;}
.w960 {width:960px; margin:0 auto;}
.w950 {width:950px; margin:0 auto;}
.w120{width:120px;}
.w180{width:180px;}
.w200{width:200px;}
.w310{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.h{height:100%;}
.hide{ display:none}

/*圆角*/
.round{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;behavior: url(ie-css3.htc);background-color:#fff;}
