
/** 清除内外边距 **/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {display: block; margin: 0; padding: 0;} /* 重置 HTML5 元素 */
body,button,input,select,textarea{font:12px/1.125 Arial,Tahoma,sans-serif,\5b8b\4f53}
body{ background:#FFF; color:#6C6C6C}
del,ins{text-decoration:none}
ul{list-style:none;list-style-type:none;}
li,ol{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */
table,td,input,textarea{font-size:12px}
textarea{resize:none;font-family:Arial;overflow:auto;border:1px solid #ccc;font-size:12px;padding:3px}
table{border-collapse:collapse;border-spacing:0;}
input,button,textarea,select{font-family:inherit;font-weight:inherit;font-size:100%}
select,input,button,textarea{font:100% Tahoma,Helvetica,Arial,sans-serif}
/*两种清浮动方法*/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block; }
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;}
/*两种清浮动方法*/

/** 重置文本格式元素 **/
a {text-decoration: none; }
a:hover {text-decoration: underline; }
sup {vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub {vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */






