.mian_bg{ width:100%; height:369px; border-top:4px solid #ed004e;background:#414141 bottom}


.grid-m180 .main-wrap { width:180px; margin-right: 10px; float:left ; display:inline}
.grid-m180  .col-sub { width:760px }

/*  导航*/
.ui_menu{ position:relative; width:180px }
.ui_menu ul li{ float:left}
.ui_menu ul img{display: block;}
.ui_menu h3{padding-left:50px;}


#sidebar{width:178px;height:auto;border: 1px solid #7c7c7c;}
.sidelist{position:relative;z-index:1;height:38px;width:178px;background:#171717 }
.sidelist span h3{position:relative;z-index:2;height:38px;line-height:38px;font-size:14px;font-weight:normal;}
.sidelist span h3 a{color:#fff;font-size:14px;text-decoration:none;display:block;width:auto;height:auto; font-weight:600}
.sidelist span h3 a:hover{color:red;font-weight:600}
.sidelist  s { background:url(../images/index/dian.png) no-repeat 0 2px;   display: block;height: 11px;left: 166px;position: absolute;top: 13px;
  width: 9px;
}
.i-list{display:none;position:absolute;z-index:1;left:130px;top:-20px;width:180px;height:150px;padding:15px;background:#fff9ef;border:1px solid #c30;}
.i-list ul li{width:60px;float:left;list-style:none;line-height:32px;heignt:32px;}
.i-list ul li a{color:#000;text-decoration:none;font-size:12px;}
.i-list ul li a:hover{text-decoration:underline;color:red;}

.hover{border:1px solid #c30;border-right:0;width:80px;background:#fff9ef;}

/*  搜素  */
.inputsearh{float: left;font-size: 12px;height: 26px;line-height: 26px;border:1px solid #e81854;color:#a1a1a1;-webkit-border-radius:5px 0 0 5px;box-shadow:0 0 3px #ffa200 inset;font-size:14px; padding: 0 10px 0 5px;
    width: 91px;}.txt_input:focus{color:#000}
.aclose { background:#e81854;border:1px solid #e81854;box-shadow:0 1px 2px #fff inset;-webkit-border-radius:0 5px 5px 0;color:#fff;font-size:12px;padding:0px 10px; height:28px; cursor:pointer}
.searchcont { background: none repeat scroll 0 0 #CFE2FF; border: 1px solid #A9B9D1; border-radius: 8px 8px 8px 8px;
color: #627EA6;font-size: 16px;height: 23px;left: 60px;line-height: 23px;padding: 0 6px;position: absolute;text-align: center; top: 14px; z-index: 50;}
/* 通用导航 */
.hdh3{ float:left;color:#666; font-size:16px;font-family:"微软雅黑"; font-weight:200;width:100px; padding-left:10px; }
.hdh3 b{ color:#ff8905; font-size:18px}
.mod_hd{ width:100%; border-bottom:2px solid #b8b8b8; line-height:30px; margin-bottom:10px}

/* 热门活动 */
.c_z{ color:#9b5db0}
.c_fs{ color:#bdbdbd} 
.c_ss{ color:#fd6b15} 
.c_ss2{ color:#89b46d} 
.hotlist_box ul li{ width:188px; border-right:1px dotted #a8a8a8 ;float:left}
.hotlist_box ul li a{ float:left}
.hotlist_box ul li a:hover{ text-decoration:none}
.f18{font-family:"微软雅黑"; font-size:18px; font-weight:600;}
.hot_tit{ width:104px;}
.hot_tit span{ width:100%; display:inline-block}

.Nes_mod  li {float: left;width: 314px; overflow:hidden; white-space:nowrap}
/*   电影列表 */
.moive_menu  .hd2f{ float:left;padding-left:10px; width:30px; color: #FF8905;font-size: 18px;   font-family: "微软雅黑"; line-height:24px;   font-weight: 200;}
.moive_menu{ width:100%; height:29px;border-bottom:1px solid #e00041; float:left; position:relative}
.moive_menu ul li{ position:absolute;padding:0 26px; text-align:center; height:29px; line-height:29px; float:left; color: #666666;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: 200; margin-left:40px; overflow:hidden; left:0; top:0; }
.moive_menu ul .hover_redtab{ position:absolute;height: 29px;
    line-height: 29px;  font-family: "微软雅黑"; cursor:pointer; font-size: 16px;
    font-weight: 200; padding:0 26px;text-align:center; height:29px; line-height:29px; float:left; border-left:1px solid #e00041; border-right:1px solid #e00041;border-top:1px solid #e00041; background:#fff;-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;behavior: url(ie-css3.htc);}


.movietab_box .buy_info{padding:0 5px 0 0px}
movietab_box .buy_btn{ float: right;}
.movietab_box{ width:100%; overflow:hidden; float:left}
.movietab_box .tabs{ padding:10px}


/*  上映电影 */


.caption.movies .cat {
    background-color: #E42828;}
#header-nav ul.menu li {
    border-left: 1px dotted #999999;
    display: block;
    float: left;
    font-family: "museo";
    font-size: 15px;
    font-weight: bold;
    line-height: 39px;
    text-transform: uppercase;
}

.caption.movies {
    border-top-color: #E42828;
}.tile .caption, .hero-article .caption, .promo_marquee .caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 3px solid #E42828;
    bottom: 0;
    color: White;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    left: 0;
    padding: 10px 15px 15px;
    position: absolute;
    right: 0;
    text-align: left;
}
.tile .cat, .hero-article .cat, .promo_marquee .cat {
    color: White;
    display: block;
    float: left;
    font-size: 11px;
    height: 7px;
    padding: 7px 10px 11px;
    position: absolute;
    text-transform: uppercase;
    top: -28px;
}
.breadcrumb {
    color: #666666;
    display: block;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 615px;
}
.breadcrumb a {
    color: #999999;
}
.breadcrumb span.tv {
    text-transform: uppercase;
}
.heading {
    border-bottom: 2px solid #E42828;
    padding-bottom: 5px;
    padding-left: 15px;
}
footer {
    clear: both;
    margin-top: 10px;
}
footer .footer-section {
    padding: 10px 0;
}
footer .leaderboard {
    float: left;
    height: 90px;
    width: 728px;
}
footer .promo {
    float: right;
    height: 90px;
    width: 184px;
}
footer .footer-nav {
    padding-left: 15px;
    width: 100%;
}
footer .footer-nav a, footer .footer-subnav a {
    border-right: 1px dotted Silver;
    color: #999999;
    display: inline-block;
    margin-right: 5px;
    padding-right: 8px;
    text-decoration: none;
}
footer .footer-nav a:last-child, footer .footer-subnav a:last-child {
    border-right: medium none;
}
footer .footer-subnav a:first-child {
    margin-left: 5px;
}
footer .footer-nav a:hover {
    text-decoration: underline;
}
footer .footer-subnav {
    background-color: #F2F2F2;
    color: #999999;
    width: 100%;
}
footer .footer-subnav a:hover {
    text-decoration: underline;
}
.footer-subnav .left {
    float: left;
    padding-left: 15px;
}
.footer-subnav .copyright {
    float: left;
    padding-right: 15px;
}
.horizontalSeparator {
    margin-bottom: 10px;
}
.two-col {
    width: 930px;
}
.two-col .col-a {
    border-right: 314px solid #FFFFFF;
    float: left;
    margin-bottom: 15px;
    margin-right: -300px;
    width: 615px;
}
.two-col .col-b {
    float: left;
    width: 300px;
}
#hotbar {
    margin-top: 50px;
    width: 300px;
}
#hotbar h4 {
    background-image: url("/wp-content/themes/film/images/hotbar_titles.png");
    background-repeat: no-repeat;
    height: 30px;
    margin: 0 0 5px 5px;
    padding: 0;
}
#hotbar .hot-galleries h4 {
    margin-bottom: 5px;
}
#hotbar h4 span {
    display: none;
}
.sidebar a.more {
    background-color: #666666;
    clear: both;
    color: White;
    display: inline-block;
    float: right;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 5px;
    padding: 4px 10px 5px;
    text-decoration: none;
}
#trailerList a.more {
    background-color: #666666;
    clear: both;
    color: White;
    display: inline-block;
    margin: 10px 0 13px 15px;
    padding: 4px 10px 5px;
    text-decoration: none;
}
#hotbar a.more:hover, #trailerList a.more:hover {
    background-color: #999999;
}
.sidebar .EyeCandyWidget a.more {
    margin-left: 30px;
}
.hot-trailers h4 {
    background-position: 0 0;
}
.hot-articles h4 {
    background-position: 0 -30px;
}
.hot-galleries h4 {
    background-position: 0 -60px;
}
#rel-galleries h4 {
    background-position: 0 -90px;
}
#rel-trailers h4 {
    background-position: 0 -150px;
}
#rel-articles h4 {
    background-position: 0 -120px;
}
#big-hitter h4 {
    background-position: 0 -180px;
}
.hot-trailers ul, .LatestFromCategoryWidget ul, .MustReadWidget ul, .EyeCandyWidget ul, .hot-favorites ul, .hot-articles ul, .hot-galleries ul {
    margin: 0;
    padding: 0;
}
.hot-trailers li, .LatestFromCategoryWidget li, .MustReadWidget li, .EyeCandyWidget li, .hot-favorites li, .hot-articles li, .hot-galleries li {
    display: inline;
    list-style-type: none;
}
.hot-trailers li a, .LatestFromCategoryWidget li a, .MustReadWidget li a, .EyeCandyWidget li a, .hot-favorites li a, .hot-articles li a, .hot-galleries li a {
    background-image: url("/wp-content/themes/film/images/hotbar_symbols.png");
    background-repeat: no-repeat;
    border-bottom: 1px dotted Silver;
    color: #666666;
    display: block;
    margin-left: 5px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-top: 7px;
    text-decoration: none;
}
.hot-trailers li:last-child a, .widget_mustread li:last-child a, .widget_eyecandy li:last-child a {
    border: 0 none;
}
.hot-trailers li a {
    background-position: 0 7px;
}
.hot-favorites li a {
    background-position: 0 -175px;
}
.hot-trailers li a:hover {
    background-color: #E42828;
    color: #FFFFFF;
}
.LatestFromCategoryWidget li a, .MustReadWidget li a, .hot-articles li a {
    background-position: 0 -53px;
}
.LatestFromCategoryWidget li a:hover, .MustReadWidget li a:hover, .hot-articles li a:hover {
    background-color: gray;
    color: #FFFFFF;
}
.MustReadWidget li a.movies:hover {
    background-color: #E42828;
    color: #FFFFFF;
}
.MustReadWidget li a.tv:hover {
    background-color: #3091F2;
    color: #FFFFFF;
}
.EyeCandyWidget li a {
    background-position: 0 -111px;
}
.EyeCandyWidget article:hover, .hot-galleries article:hover {
    background-color: #FF9900;
    color: white;
    text-decoration: none;
}
.EyeCandyWidget article p.title a, .hot-galleries article p.title a {
    color: inherit;
}
#hotbar.vertical .title {
    background-image: url("/wp-content/themes/film/images/titles.png");
    background-position: 0 -180px;
}
.EyeCandyWidget li a {
    background-image: none;
}
.EyeCandyWidget li p.title a {
    border: medium none;
}
.EyeCandyWidget li a.thumb, .hot-galleries li a.thumb {
    background-color: #F2F2F2;
    border: 0 none;
    display: block;
    float: left;
    font-size: 11px;
    height: 124px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
    width: 135px;
}
#authors.hot-galleries li a.thumb {
    background-image: none;
    left: 0;
    position: relative;
    top: 0;
}
.hotpockets {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#authors li a.thumb {
    height: 95px;
    width: 80px;
}
#authors li a:hover, #authors li a.thumb:hover {
    background-color: #990066;
    color: White;
    text-decoration: none;
}
#hotbar.vertical .hot-galleries li a p {
    margin: 5px 0;
}
#hotbar.horizontal {
    clear: both;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 930px;
}
#hotbar.horizontal .hot-galleries li {
    display: inline;
    list-style-type: none;
}
#hotbar.horizontal .title {
    background-image: url("/wp-content/themes/film/images/titles.png");
    background-position: 0 -90px;
}
#hotbar.horizontal .wrapper {
    background-color: #F2F2F2;
    border-top: 2px solid #999999;
    float: left;
    padding: 20px 20px 0;
}
#hotbar.horizontal .hot-trailers, #hotbar.horizontal .hot-articles, #hotbar.horizontal .hot-galleries {
    float: left;
    padding-right: 19px;
    width: 284px;
}
#hotbar.horizontal .hot-galleries {
    padding-right: 0;
}
.stage {
    margin-bottom: 15px;
}
.promo_marquee {
    position: relative;
}
.promo_marquee img {
    display: block;
}
#caption-like-button {
    left: 10px;
    position: relative;
}
.category-streaming-movies .promo_marquee .caption {
    background-color: #9F2E7B;
    border-top: 3px solid #E52AA9;
}
.category-streaming-movies .promo_marquee .caption .cat {
    background-color: #E52AA9;
}
body.blog .promo_marquee .caption {
    background-color: #78AE42;
    border-top: 3px solid #87E52A;
}
body.blog .promo_marquee .caption .cat {
    background-color: #87E52A;
}
body.home .promo_marquee .caption {
    background-color: #B90008;
    border-top: 3px solid #E42828;
}
body.home .promo_marquee .caption .cat {
    background-color: #E42828;
}
body.post-type-archive-uma_video .caption {
    background-color: #B90008;
    border-top: 3px solid #E42828;
}
body.post-type-archive-uma_video .caption .cat {
    background-color: #E42828;
}
.category-dvd .promo_marquee .caption {
    background-color: #237EEE;
    border-top: 3px solid #2AC5E5;
}
.category-dvd .promo_marquee .caption .cat {
    background-color: #2AC5E5;
}
.tiles {
    margin-right: -14px;
}
.tiles a, .hero-article a, .promo_marquee a {
    text-decoration: none;
}
.tile {
    background-color: #F2F2F2;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
 
}
.tile .caption, .hero-article .caption, .promo_marquee .caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 3px solid #E42828;
    bottom: 0;
    color: White;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    left: 0;
    padding: 10px 15px 15px;
    position: absolute;
    right: 0;
    text-align: left;
}
.caption {
}
.caption.tv {
    border-top-color: #2164A6;
}
.caption.tv .cat {
    background-color: #2164A6;
}
.caption.movies {
    border-top-color: #E42828;
}
.caption.movies .cat {
    background-color: #E42828;
}
.caption.photos {
    border-top-color: #DC7600;
}
.caption.photos .cat {
    background-color: #DC7600;
}
.caption.gallery {
    border-top-color: #DC7600;
}
.caption.gallery .cat {
    background-color: #DC7600;
}
.caption.authors {
    border-top-color: #990066;
}
.caption.authors .cat {
    background-color: #990066;
}
.tile .cat, .hero-article .cat, .promo_marquee .cat {
    color: White;
    display: block;
    float: left;
    font-size: 11px;
    height: 7px;
    padding: 7px 10px 11px;
    position: absolute;
    text-transform: uppercase;
    top: -28px;
}
.caption h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 5px;
}
.caption h3 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.2px;
}
.caption p { font-size:12px;
    line-height: 135%;
    padding:4px;
}
.caption p  span{ padding-left:5px}
.caption p.author  b{
    color:#e5134e; font-size:18px

}
.caption p.author  .aa{ background:#e5134e; color:#FFF; padding:0 5px ; border:none; float:right;  height:26px}
.hero-article .caption, .promo_marquee .caption {
    bottom: 0;
}
.social {
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    color: #999999;
    margin-top: 35px;
    padding: 5px;
}
.social a {
    text-decoration: none;
}
.social a:hover {
    text-decoration: underline;
}
ul.list-nav {
    display: block;
    font-size: 0;
    margin: 15px 0 0;
    padding: 0;
}
ul.list-nav li {
    display: inline;
    list-style-type: none;
}
ul.list-nav a {
    border-right: 1px dotted Silver;
    color: Black;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 7px 12px 7px 13px;
    text-decoration: none;
    text-transform: uppercase;
}
ul.list-nav li:last-child a {
    border: 0 none;
}
ul.list-nav a.sel {
    border: 0 none;
    color: White;
}
body.filmcom-movies ul.list-nav a.sel {
    background-color: #B90008;
}
body.filmcom-tv ul.list-nav a.sel {
    background-color: #2164A6;
}
ul.list-nav a:hover {
    background-color: #F2F2F2;
}
.list {
    background-color: #F2F2F2;
    float: left;
    margin-bottom: 75px;
    padding: 15px;
    width: 585px;
}
.list .post-thumb img {
    background-color: Silver;
    float: left;
    height: 173px;
    margin-right: 15px;
    width: 210px;
}
.list.archive #month-title {
    display: none;
}
.list.archive .post-thumb img {
    float: left;
    margin-right: 15px;
}
.list.archive .post a img {
    float: left;
    margin-right: 20px;
}
.list .post {
    background-color: White;
    float: left;
    margin-top: 15px;
    padding: 20px;
    width: 545px;
}
.list .post:first-child {
    margin-top: 0;
}
.list h2 {
    margin-bottom: 10px;
}
.list h2 a {
    color: Black;
    font-size: 21px;
    font-weight: bold;
    line-height: 110%;
    text-decoration: none;
}
.list.archive h2 a {
    font-size: 16px;
}
.category-movies .list h2 a:hover {
    background-color: #E42828;
    color: White;
}
.category-tv .list h2 a:hover {
    background-color: #3091F2;
    color: White;
}
.list .meta {
    display: inline;
    font-weight: bold;
}
.list .entry-summary {
    color: #666666;
    display: inline;
    font-size: 12px;
}
a.rss-link span.filmcom_category {
    text-transform: capitalize;
}
.filmcom-tv a.rss-link span.filmcom_category {
    text-transform: uppercase;
}
a.rss-link {
    background-image: url("/wp-content/themes/film/images/rss_icon.png");
    background-position: 0 9px;
    background-repeat: no-repeat;
    color: #666666;
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    padding: 7px 15px;
    text-decoration: none;
}
.filmcom-tv a.rss-link span.capitalize {
    text-transform: uppercase;
}
#rss-inline {
    background-position: 0 1px;
    color: #FFFFFF;
    float: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}
a.archive-button, .list .navigation a {
    background-color: Gray;
    color: white;
    float: right;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
    padding: 7px 15px;
    text-decoration: none;
}
.category-movies a.archive-button, .filmcom-movies a.archive-button, .list .navigation a {
    background-color: #B90008;
}
.list .navigation .alignright a {
    float: right;
}
.list .navigation .alignleft a {
    float: left;
}
a.archive-button:hover {
    background-color: Silver;
}
.category-movies a.archive-button:hover, .filmcom-movies a.archive-button:hover, .category-movies #archive-dropdown a:hover, .list .navigation a:hover {
    background-color: #E42828;
}
.category-tv a.archive-button, .filmcom-tv a.archive-button {
    background-color: #2164A6;
}
.category-tv a.archive-button:hover, .filmcom-tv a.archive-button:hover, .category-tv #archive-dropdown a:hover {
    background-color: #3091F2;
}
.author a.archive-button, .author .list .navigation a {
    background-color: #990066;
}
.author a.archive-button:hover, .author .list .navigation a:hover {
    background-color: #B3408C;
}
#disqus_thread {
    clear: both;
}
#comments .title {
    background-image: url("/wp-content/themes/film/images/titles.png");
    background-repeat: no-repeat;
    height: 40px;
    margin-bottom: 0 !important;
}
#comments .title span {
    display: none;
}
.ad-external {
    display: block;
    margin-bottom: 15px;
    z-index: 100;
}
.ad-internal.square {
    display: block;
    height: 90px;
    overflow: hidden;
    width: 300px;
}
.ad-internal {
    display: block;
    overflow: hidden;
}
.ad-internal.top {
    height: 110px;
    margin-top: 5px;
    width: 300px;
}
.ad-internal.bot {
    height: 90px;
    width: 184px;
}
#generic {
    background-color: #7E6A5D;
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.entry-content p {
    margin: 1em 0;
}
.tile-like-value {
    font-size: 13px;
}
.tile-like-value > div > span {
    display: inline-block;
}
.no-tile .tile-like-value {
}
.post.no-tile {
    padding: 10px 20px 15px;
}
#tag-loop-play-btn {
    bottom: 39px;
    left: 52px;
    position: relative;
}
#advertise #left {
    float: left;
    width: 190px;
}
#advertise #middle {
    float: left;
    margin: 0;
    padding-left: 22px;
    width: 190px;
}
#advertise #right {
    float: right;
    width: 190px;
}
#advertise img {
    margin-bottom: 10px;
    width: 100%;
}
#advertise h2 {
    margin-bottom: 5px;
}
#advertise li {
    line-height: 20px;
}
#advertise #bottom {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    clear: both;
    padding: 10px 15px;
    position: relative;
    top: 24px;
}
#advertise #bottom a {
    background: none repeat scroll 0 0 #666666;
    color: white;
    margin-left: 100px;
    padding: 5px 10px;
    text-decoration: none;
}
#advertise #bottom a:hover {
    background-color: #999999;
}
.widget_text h2 {
    background-image: url("/wp-content/themes/film/images/titles.png");
    background-position: 0 -180px;
    height: 40px;
    text-indent: -2000px;
    width: 300px;
}
ul.sidebar {
    margin: 0;
}
li.widget {
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
li.widget header {
    clear: both;
}
.container .container-inner .sidebar .widget header h2, .container .container-inner #home_sidebar .widget header h2 {
    clear: both;
    color: #666666;
    font-family: "museo",serif;
    font-size: 17px;
    height: 40px;
    text-transform: uppercase;
}
.container .container-inner .sidebar .widget header h3 {
    color: #666666;
    font-family: "museo",serif;
    font-size: 16px;
    text-transform: uppercase;
}
.container .container-inner .sidebar li.MTVNTopSyndicationPartnerLinksWidget {
    margin-top: 25px;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners {
    float: left;
    margin: 0;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners a {
    font-size: 13px;
    text-decoration: none;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners img {
    float: left;
    left: 7px;
    position: relative;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners > li {
    border-bottom: 1px dotted silver;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 0 10px;
    padding-bottom: 8px;
    position: relative;
    width: 300px;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners li ul.promoted_items {
    float: left;
    left: 15px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 200px;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners li ul.promoted_items li {
    display: list-item;
    list-style-image: url("../images/bullet_grey_6x6.png");
    margin: 0 0 2px 25px;
    min-height: 20px;
    width: 200px;
}
.container .container-inner .sidebar .MTVNTopSyndicationPartnerLinksWidget .fromOurPartners ul.selected_partners li ul.promoted_items li p {
    font-size: 12px;
    height: auto;
    margin: 0;
}
.container #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks {
    margin-bottom: 50px;
    width: 1000px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks header {
    clear: both;
    height: 55px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.selected_partners {
    height: 250px;
    margin-left: 0;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.selected_partners > li {
    float: left;
    list-style-type: none;
    margin: 0 10px 0 0;
    width: 177px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks img.partner_image {
    max-height: 70px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.promoted_items {
    margin-left: 0;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.promoted_items > li {
    list-style-type: none;
    margin-top: 10px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks .MTVNContentTeaser .title a {
    color: #951A1D;
    font-weight: bold;
    text-decoration: none;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.promoted_items p.title {
    font-size: 12px;
    height: 43px;
    overflow-y: hidden;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks ul.selected_partners > li > a {
    display: block;
    height: 80px;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks header {
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks header h2 {
    color: #666666;
    float: left;
    font-size: 26px;
    font-weight: normal;
    text-transform: capitalize;
}
.container .container-inner #home_sidebar .MTVNTopSyndicationPartnerLinksWidget .coolClicks header h3 {
    color: #999999;
    float: left;
    font-family: "museo",serif;
    font-size: 26px;
    font-weight: normal;
    margin-left: 20px;
    text-transform: capitalize;
}
.container .container-inner ul#home_sidebar {
    margin: 0;
}
.article ul.MTVNProgressiveShare {
    margin-bottom: 10px;
    padding-top: 10px;
}
.col-b .textwidget .col-b .hot-galleries {
    margin-top: 40px;
}
.col-b .textwidget, .col-b #trailers-list {
    margin-top: 40px;
}
.article clearfix ul.MTVNProgressiveShare {
    height: 10px;
    left: 350px;
    position: relative;
    top: -25px;
    width: 270px;
}
.col-b .textwidget, .col-b .hot-galleries, .col-b #trailers-list {
    margin-top: 40px;
}
.sidebar .widget_followus, .col-b .widget_followus, #sidebar .widget_followus {
    margin-bottom: 0;
    margin-top: 40px;
    padding-bottom: 0;
}
.EyeCandyWidget article.MTVNContentTeaser {
    background-color: #F2F2F2;
    float: left;
    height: 140px;
    position: relative;
    width: 135px;
}
.EyeCandyWidget article.MTVNContentTeaser:hover, .hot-galleries article.MTVNContentTeaser:hover {
    background-color: #FF9900;
    color: white;
    text-decoration: none;
}
.EyeCandyWidget article p.title a, .hot-galleries article p.title a {
    color: inherit;
}
#hotbar.vertical .title {
    background-image: url("/wp-content/themes/film/images/titles.png");
    background-position: 0 -180px;
}
.EyeCandyWidget li a {
    background-image: none;
}
.EyeCandyWidget li p.title a {
    border: medium none;
}
.EyeCandyWidget li a.thumb, .hot-galleries li a.thumb, .EyeCandyWidget article.MTVNContentTeaser p.title {
    font-size: 11px;
    left: 8px;
    position: absolute;
    top: 114px;
}
.EyeCandyWidget article.MTVNContentTeaser a {
    border: medium none;
    margin: 0;
    padding: 0;
}
.EyeCandyWidget ul li a img {
    left: 2px;
    position: relative;
    top: 5px;
}
.EyeCandyWidget ul li a p.hotpockets {
    left: 13px;
    position: relative;
    top: 7px;
}
.EyeCandyWidget li.even a.thumb, .hot-galleries li.even a.thumb, .EyeCandyWidget article.even, .hot-galleries article.even {
    border: 0 none;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 5px;
}
.EyeCandyWidget li.odd a.thumb, .hot-galleries li.odd a.thumb, .EyeCandyWidget article.odd, .hot-galleries article.odd {
    float: left;
    margin: 5px 0 5px 5px;
    padding: 5px;
}
.hot-galleries ul li a img {
    left: 0;
    position: relative;
    top: 5px;
}
.hot-galleries ul li p.hotpockets {
    left: 5px;
    position: relative;
    top: 3px;
}
.container li {
    list-style-type: none;
}
.search-results {
    color: #666666;
}
.search-results .pagination {
    float: right;
    margin: 10px 0 0;
}
.search-results .pagination div {
    background-color: #B90008;
    float: right;
}
.search-results .pagination .nav-next {
    margin: 0 10px 0 0;
}
.search-results .pagination div a {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    padding: 7px 15px;
    text-decoration: none;
}
p.cat-list {
    font-size: 13px;
}
.search-results p.cat-list {
    margin: 10px 0;
}
.search-results ul.sidebar {
    float: right;
    margin: 15px 0 0;
    overflow: hidden;
    width: 300px;
}
.search-results h3 {
    font-size: 15px;
    margin: 0 0 24px;
}
.search-results h3.post-head {
    margin-bottom: 0;
}
.search-results .movies-not-found {
    margin: -10px 0 15px;
}
.search-results ul#movie-search {
    list-style-type: none;
}
.search-results ul#movie-search li, .shortcode-movie {
    display: inline-block;
    margin: 0 24px 24px 0;
    width: 125px;
}
.search-results ul#movie-search li.last, .shortcode-movie.last {
    margin-right: 0;
}
.search-results ul#movie-search li a, .shortcode-movie a {
    display: block;
}
.search-results ul#movie-search li p.title, .shortcode-movie p.title {
    height: 30px;
    margin: 0 0 5px;
    overflow: hidden;
}
.search-results ul#movie-search li p.title a, .shortcode-movie p.title a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.video-featured h2.franchise-title a {
    color: #B90008;
    font-size: 21px;
}
.two-col .col-a.page-showtimes h1, .category .two-col .col-a h1 {
    display: none;
}
.two-col.uma-video-page .col-a h2, .two-col.uma-video-page .col-a h3 {
    color: #000000;
    display: block;
    font-size: 2em;
    letter-spacing: -0.7px;
    line-height: 100%;
    margin: 0.5em 0;
    text-decoration: none;
}
.two-col.uma-video-page .col-a h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.two-col.uma-video-page .ep-summary {
    margin: 0 0 3em;
}
.two-col.uma-video-page ul.more-eps {
    list-style-type: none;
}
.two-col.uma-video-page ul.more-eps li {
    display: inline-block;
    margin: 0 22px 25px 0;
    padding: 94px 0 0.25em;
    position: relative;
    vertical-align: top;
    width: 128px;
}
