.grid-m180 .main-wrap { width:180px; margin-right: 10px; float:left ; display:inline}
.grid-m180  .col-sub { width:760px }

/*  导航*/
#sidebar s ,.icon_a,.icon_b,.icon_c,.icon_d,.icon_e,.sea_icon{background: url(../images/index/index_icon.png) no-repeat}
.hdlogo{ width: 188px; height: 84px; overflow: hidden;}
.ui_menu{ position:relative; width:188px;border: 1px solid #CCC;}
.ui_menu ul li{ float:left}
.ui_menu ul img{display: block;}
#sidebar{width:188px;height:auto;}
#sidebar h3{padding-left:50px;}
.sidelist:hover{background:#FD0000;}
.sidelist{position:relative;z-index:1;height:45px;width:188px;border-top: 1px solid #CCC;}
.sidelist span h3{;position:relative;z-index:2;height:45px;line-height:45px;font-size:14px;font-weight:normal;}
.sidelist span h3 a{font-size:14px;text-decoration:none;display:block;width:auto;height:auto;color:#000;}
.sidelist span h3 a:hover{color:#fff;font-weight:bold;}
/* 以后有弹出框在显示
.i-list{display:none;position:absolute;z-index:1;left:130px;top:-20px;width:180px;height:150px;padding:15px;background:#fff9ef;border:1px solid #c30;}
.i-list ul li{width:60px;float:left;list-style:none;line-height:32px;heignt:32px;}
.i-list ul li a{color:#000;text-decoration:none;font-size:12px;}
.i-list ul li a:hover{text-decoration:underline;color:red;}*/

#sidebar s {background-position: -2px -632px;display: block;height: 11px;left: 172px;
 position: absolute; top: 18px;width: 9px;}
.icon_a{background-position:10px -248px}
.icon_b{background-position:10px -295px}
.icon_c{background-position:10px -360px}
.icon_d{background-position:10px -425px}
.icon_e{background-position:10px -494px}

.hover{border:1px solid #c30;border-right:0;width:80px;background:#fff9ef;}
/*  搜素  */
.search_br{ border: 1px solid #CCC;height: 75px}
.sea_icon{ background-position:0 -576px;padding-left:22px;}
.inputsearh{float: left;font-size: 12px;height: 26px;line-height: 26px;border:1px solid #e81854;color:#a1a1a1;-webkit-border-radius:5px 0 0 5px;box-shadow:0 0 3px #ffa200 inset;font-size:14px; padding: 0 10px 0 5px;
    width: 91px;}.txt_input:focus{color:#000}
.aclose { background:#e01101;border:1px solid #dd0d0d;color:#fff;font-size:12px;padding:0px 10px; height:28px; cursor:pointer}
.searchcont { background: none repeat scroll 0 0 #CFE2FF;border: 1px solid #A9B9D1;
    border-radius: 8px 8px 8px 8px;color: #627EA6;font-size: 16px;height: 23px;left: 60px;line-height: 23px;
    padding: 0 6px; position: absolute;text-align: center;top: 14px;z-index: 50;}
/* 通用导航 */
.hdh3{ float:left;color:#666; font-size:16px;font-family:"微软雅黑"; font-weight:200;width:100px; padding-left:10px; }
.hdh3 b{  font-size:18px}
.mod_hd{ width:100%; border-bottom:2px solid #FD0000; line-height:30px; margin-bottom:10px}

/* 热门活动 */

.hotdl {width: 100%} 
.hotdl .item .pic{}
.hotdl .item .info{}
/* Item */
.item {*zoom:1;overflow:hidden;}
.item .pic {float:left;text-align:center;}
.item .pic span {display:block;}
.item .info {float:left;text-align:left;}
.item .info span{color:#666;}
.item .info ul {border-bottom:1px dashed #959595;  height: 93px;padding-top: 30px; width: 673px;}
.info li {padding:0 20px;float:none;text-align:left;font-size: 14px; display:table; width: 650px } 
.info li span {display:inline;} 
.f18{font-family:"微软雅黑"; font-size:18px; font-weight:600;}
/* 最新影讯	News */
.Nes_mod  li {float: left;width: 314px; overflow:hidden; }
.Nes_mod  li h4 a{color:#040404}
.Nes_mod  li h4 a:hover{color:#FD0000}
.Nes_mod  li span{width: 304px;padding: 0 5px;display:inline-block;}
.Nes_mod  li span a{color:#7E7E7E}
.Nes_mod  li span a:hover{color:#FD0000}
/*   电影列表 */
.moive_menu  .hd2f{ float:left;padding-left:10px; width:30px; font-size: 18px;   font-family: "微软雅黑"; line-height:24px;   font-weight: 200;}
.moive_menu{ width:100%; height:29px;border-bottom:2px solid #FD0000;; float:left; position:relative}
.moive_menu ul li{ position:absolute;padding:0 10px; text-align:center; height:29px; line-height:29px; float:left; color: #666666;
    font-family: "微软雅黑";font-size: 16px;font-weight: 200; margin-left:40px; overflow:hidden; left:0; top:0; }
.moive_menu ul .hover_redtab{ position:absolute;height: 29px; color:#da150d;line-height: 29px;  font-family: "微软雅黑"; cursor:pointer; font-size: 16px;font-weight: 200; padding:0 10px;text-align:center; height:29px; line-height:29px; float:left;  background:#fff;
-bor}
.movietab_box .buy_info{padding:0 5px 0 0px}
movietab_box .buy_btn{ float: right;}
.movietab_box{ width:100%; overflow:hidden; float:left}
.movietab_box .tabs{ padding:10px}
/*  上映电影 */
.caption.movies .cat { background-color: #E42828;}
.caption.movies {  border-top-color: #E42828;}
.tile .caption, .hero-article .caption, .promo_marquee .caption {background-color: rgba(0, 0, 0, 0.5);border-top: 3px solid #E42828;bottom: 0; color: White; display: block; font-size: 1.4em; font-weight: bold; left: 0; padding: 10px 15px 15px;  position: absolute; right: 0;text-align: left;}
.tile .cat, .hero-article .cat, .promo_marquee .cat { color: White;  display: block;float: left;
font-size: 11px;height: 7px; padding: 7px 10px 11px;position: absolute;text-transform: uppercase; top: -28px;}
.stage {margin-bottom: 15px;}
.promo_marquee {  position: relative;}
.promo_marquee img {  display: block;}
.caption { background-color: #237EEE; border-top: 3px solid #2AC5E5;}
 .caption .cat { background-color: #2AC5E5;}
.tile { background-color: #F2F2F2;float: left;overflow: hidden; position: relative;  text-align: center;}
.tile .caption, .hero-article .caption, .promo_marquee .caption { background-color: rgba(0, 0, 0, 0.5); border-top: 3px solid #E42828;bottom: 0;color: White; display: block; font-size: 1.4em;font-weight: bold;left: 0; padding: 10px 15px 15px; position: absolute; right: 0;  text-align: left;}
.tile .cat, .hero-article .cat, .promo_marquee .cat { color: White; display: block; float: left; font-size: 11px; height: 7px; padding: 7px 10px 11px; position: absolute;text-transform: uppercase;top: -28px;}
.caption h2 {font-size: 28px;font-weight: bold; line-height: 100%;  margin-bottom: 5px;}
.caption h3 {font-size: 12px;  font-weight: bold;  letter-spacing: -0.2px;}
.caption p { font-size:12px;line-height: 135%; padding:4px;}
.caption p  span{ padding-left:5px}
.caption p.author  b{color:#e5134e; font-size:18px}
.caption p.author  .aa{ background:#e5134e; color:#FFF; padding:0 5px ; border:none; float:right;  height:26px}
.hero-article .caption, .promo_marquee .caption { bottom: 0;}
/* 在线上映 */



