@charset "UTF-8";
/* CSS Document */


/*** 问追 *****/
.oper_module{width:948px;margin:0 auto;min-height:100px;height:auto;border:1px solid #e7e7e7;overflow:hidden;border-bottom:none;}
.oper_module_item{width:918px;min-height:50px;height:auto;padding-top:15px;padding-left:10px;}
.top_img_back{background:url("../images/tab_top_back.png") 0 0 no-repeat;}
.use_btn{background:url("../images/use_btn.png") 0 0 no-repeat;width:61px;height:26px;color:#fff;text-align:center;border:none;}
.pay_btn{background:url("../images/pay_bt_normal.png") 0 0 no-repeat;width:97px;height:31px;color:#fff;text-align:center;border:none;}
.pay_submit{text-align:center;margin:30px 0 20px 0;}
.use_btn_light{background:url("../images/use_btn_light.png") 0 0 no-repeat;}
.h_30{height:30px;line-height:30px;}
.w_150{width:150px;}
.cw{color:#fff;}
.c_border{border:1px solid  #A9E0FE;}
.gray_back{border-bottom:1px solid  #e7e7e7;}
.white_back{background:#fff;}
.w928{width:928px;}
.gray_border{border:1px solid  #e7e7e7;}
.green_border3{border:3px solid  #02633a;}
.gray_border3{border:3px solid  #e7e7e7;}
.b_border{border:1px solid #BBBBBB;}
.b_border_b{border-bottom:1px solid #BBBBBB;}
.b_border_t{border-top:1px solid #BBBBBB;}
.green_back{background:#ebf8ff;}
.m_top{_margin-top:4px;}
.l_h50{height:50px;line-height:50px;}
.w125{width:125px;}
.w55{width:55px;}
.w816{width:816px;}
.w768{width:768px;}
.w750{width:750px;}
.w700{width:700px;}
.w600{width:600px;}
.w86{width:86px;}
.w110{width:110px;}
.w130{width:130px;}
.gray_img_border{background:url("../images/bottom_border_01.png") 0 0 repeat;height:8px;line-height:8px;}
.item_list{min-height:50px;overflow:hidden;}
.item_list .descri{float:left;display:inline;margin-top:8px;}
.item_list .content{float:left;}
.item_list .content li{float:left;display:inline-block;white-space:nowrap;min-width:30px;margin:8px;}
.item_list .content li span{float:left;display:inline;height:50px;line-height:50px;margin:auto 2px;}
.item_list .content li span input{height:15px;width:15px;_margin-top:20px;}/*IE6需要设置input的宽度*/


#prefer_info{width:928px;display:inline-block;min-height:50px;}
#prefer_info .module{float:left;background:#fff;margin:15px 10px 12px 10px;padding:18px 20px;width:868px;}
#prefer_info ul li{float:left;display:inline;width:410px;white-space:nowrap;margin:5px 10px;}

#prefer_info ul li dl{width:100%;}
#prefer_info ul li dl dt{float:left;display:inline-block;padding:0 5px;text-align:center;line-height:46px;height:46px;}
#prefer_info ul li dl dt input{width:15px;height:15px;_margin-top:18px}/*IE6需要设置input的宽度*/
#prefer_info ul li dl dd{float:left;display:inline-block;padding:5px 3px;height:46px;line-height:20px;overflow:hidden;}
#prefer_info ul li dl dd p{width:205px;}

#prefer_info div dl{float:left;width:868px;}
#prefer_info div dl dt,dd{float:left;display:inline;padding:0 5px;color:#000;}
#prefer_info div dl dt{text-align:right;padding-top:2px;}

#prefer_result{color:#333;font-weight:700;font-size:16px;text-align:left;padding:20px 30px;}
#pay_result{color:#000;font-weight:700;font-size:20px;text-align:right;padding:15px 25px;}

#pay_tool_info{min-height:50px;padding-top:5px;min-height:395px;}

.playList_module{float:left;width:758px;}
 .listHeader{float:left;width:758px;height:50px;}
.playList_module .listTableHeader{float:left;display:inline-block;width:758px;height:34px;line-height:34px;background:#F2F2F2;}
.playList_module .listTableHeader span{float:left;border-right:1px solid  #BBBBBB;text-align:center;min-width:86px;height:34px;line-height:34px;}

.playList_module .listTableBody{position:relative;width:758px;height:304px;background:#fff;z-index:0;overflow:hidden;clear:both;}
.playList_module .listTableBody table{position:relative;_position:absolute;float:left;width:100%;height:304px;text-align:center;overflow:hidden;z-index:0;}
.playList_module .listTableBody table tr{height:60px;line-height:60px;}
.playList_module .listTableBody table .odd{background:#FDF9EE;border-width:1px 0;border-style:solid;border-color:#FBECCB;}


.scroller{float:right;display:none;width:14px;overflow:hidden;height:304px;}
.scroller .decrease,.scroller .increase,.scroller .handle,.handle .handleL,.handle .handleR,.handle .handleC, .handle{background:url("../images/scoller_bg.png")}
.scroller .decrease{background-position:0 -88px;}
.scroller .scroll{background: none repeat scroll 0 0 #EEEEEE;height: 278px;width: 14px;z-index: 98;}
.scroller .scroll .handle{background-position: 0 -113px;cursor: pointer;display: block;height: 100%;position: relative;width: 14px;
}
.scroller .increase{background-position:0 -100px;}
.decrease, .increase {cursor: pointer;display: block;height: 13px; overflow: hidden;/*position: absolute;*/width: 14px;z-index: 99;
}
.handle .handleL { background-position: 0 bottom;height: 99%;overflow: hidden;padding: 2px 0;width: 14px;
}
.handle .handleR {background-position: right -117px;height: 100%; width: 14px;
}
.handle .handleC {background-position: 0 center;height: 100%;width: 14px;
}
.playList_module .listBotoom{float:left;width:758px;height:50px;background:#F2F2F2;}


/*  style_movie_movieList.css  */
.movie_list_container{ width:748px; float:left;height:auto;padding-top:10px; border:1px solid #E0E0E0}
.E0_bl{border-left:1px solid #E0E0E0;}
.E0_bt{border-top:1px solid #E0E0E0;}
.E0_bb{border-bottom:1px solid #E0E0E0;}
.E0_br{border-right:1px solid #E0E0E0;}

.movie_list_container .movie_list_heard{display:inline-block;width:100%;overflow:hidden;}
.total_movie{display:inline-block;}
.sort_movie_oper{float:right;display:inline-block;}

.movie_list{margin-top:0px;}
.movie_list ul{width:100%;margin: 20px 0}
.movie_list ul li{width:100%;display:inline-block;padding:15px 0px;border-bottom:1px solid #D0D0D0; float:left}
.movie_list ul .odd{border-top:1px solid #D0D0D0;border-bottom:1px solid #D0D0D0;background:#EDF6FF}
.movie_pic{display:inline-block;width:120px;padding:0px 10px 10px 0px;height:160px;line-height:160px;margin-left:10px}
.movie_pic img{ width:120px; height:160px; font-size:0}
.movie_text{float:right;display:inline-block;width:580px;padding-left;10px;}
.movie_list ul li .b_dash{display:inline-block;border-bottom:1px dashed  #EED4B9;height:1px;line-height:1px;width:100%;}
.movie_text .title .descri{height:14px;height:14px;}
.title .descri .descri_text{float:left;height:14px;line-height:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:580px }
.movie_name{float:left;display:inline;font-weight:700;font-size	:14px;}
.movie_info .movie_text .more{float:right;margin-right:10px;height:14px;line-height:14px;}
em { font-style: normal;}
.initRating {float: left;height: 14px; line-height: 14px;overflow: hidden;width: auto;}
.initRating span {display: inline-block;}
.movie_text .movie_info_descri{width:100%;border:none;}
.movie_text .movie_info_descri tr{height:25px;line-height:25px;margin:2px;}
.movie_text .movie_info_descri .w65{width:65px;}
.movie_text .movie_info_descri .w230{width:230px;}
.movie_info_descri a{color:#17A3E0}
.hover{background:#EDF6FF}
.half{background:url("../images/star.png") 0 0 no-repeat;width:7px;height:14px;}
.all{background:url("../images/star.png") -7px 0;width:7px;height:14px;margin-right:2px;}
.no{background:url("../images/star.png") -21px 0;width:7px;height:14px;}
.tabs{overflow:hidden;}
.tabs span{	display: inline-block; float: left;font-weight:700;font-size:14px;text-align:center;padding:4px 15px;
}
.tabs .circleRoundder{ float:left; display:inline-block;background-color: #FF820A;font-weight:700;color:#fff;-webkit-border-radius: 15px;	-moz-border-radius: 15px; cursor:pointer}
.tabs .circleRoundder a{ color:#FFF}
.pager{margin:5px auto;}
.pager a{display:inline-block;width:25px;height:25px;line-height:25px;background-color: #FF820A;font-weight:700;color:#fff;-webkit-border-radius:5px;	-moz-border-radius:5px;text-align:center;}
.pager .off{width:60px;}
.pager a:hover{background-color:#e06e0b;}




