.oper_module{width:948px;margin:0 auto;border:1px solid #e7e7e7}
.oper_module_item{width:918px;min-height:50px;height:auto;padding-top:15px;padding-left:10px;}
.top_img_back{background:url("../images/tab_top_back.png") 0 0 no-repeat;}
.use_btn{background:url("../images/use_btn.png") 0 0 no-repeat;width:61px;height:26px;color:#fff;text-align:center;border:none;}
.pay_btn{background:url("../images/pay_bt_normal.png") 0 0 no-repeat;width:97px;height:31px;color:#fff;text-align:center;border:none;}
.pay_submit{text-align:center;margin:30px 0 20px 0;}
.use_btn_light{background:url("../images/use_btn_light.png") 0 0 no-repeat;}
.h_30{height:30px;line-height:30px;}
.w_150{width:150px;}
.cw{color:#fff;}
.c_border{border:1px solid  #A9E0FE;}
.gray_back{border-bottom:1px solid  #e7e7e7;}
.white_back{background:#fff;}
.w928{width:928px;}
.gray_border{border:1px solid  #e7e7e7;}
.green_border3{border:3px solid  #02633a;}
.gray_border3{border:3px solid  #e7e7e7;}
.b_border{border:1px solid #BBBBBB;}
.b_border_b{border-bottom:1px solid #BBBBBB;}
.b_border_t{border-top:1px solid #BBBBBB;}
.green_back{background:#ebf8ff;}
.m_top{_margin-top:4px;}

.w125{width:125px;}
.w55{width:55px;}
.w816{width:816px;}
.w768{width:768px;}
.w750{width:750px;}
.w700{width:700px;}
.w600{width:600px;}
.w86{width:86px;}
.w110{width:110px;}
.w130{width:130px;}
.w170{width:170px;}
.gray_img_border{background:url("../images/bottom_border_01.png") 0 0 repeat;height:8px;line-height:8px;}
.item_list{min-height:50px;overflow:hidden;}
.item_list .descri{float:left;display:inline;margin-top:8px;}
.item_list .content{float:left;}
.item_list .content li{float:left;display:inline-block;white-space:nowrap;min-width:30px;margin:8px;}
.item_list .content li span{float:left;display:inline;height:50px;line-height:50px;margin:auto 2px;}
.item_list .content li span input{height:15px;width:15px;_margin-top:20px;}/*IE6需要设置input的宽度*/


#prefer_info{width:950px;display:inline-block;min-height:50px;}
#prefer_info .module{float:left;background:#fff;margin:15px 10px 12px;padding:18px 20px;width:890px;}
#prefer_info ul li{float:left;display:inline;width:410px;white-space:nowrap;margin:5px 10px;}

#prefer_info ul li dl{width:100%;}

#prefer_info div dl{float:left;width:868px;}
#prefer_info div dl dt{float:left;display:inline;padding:0 5px; line-height:22px;color:#000;}
#prefer_info div dl dt{text-align:right;padding-top:2px;}

#prefer_result{color:#333;font-weight:700;font-size:16px;text-align:left;padding:20px 30px;}
#pay_result{color:#000;font-weight:700;font-size:20px;text-align:right;padding:15px 25px;}

#pay_tool_info{min-height:50px;padding-top:5px;min-height:395px;}

/*放映列表*/
.E0_bl{border-left:1px solid #E0E0E0;}
.E0_bt{border-top:1px solid #E0E0E0;}
.E0_bb{border-bottom:1px solid #E0E0E0;}
.E0_br{border-right:1px solid #E0E0E0;}
.play_body{width:100%;height:100%;}
.play_tab_con{ padding:15px 15px; width:708px }
.play_tab_con dt,dd{float:left;display:inline;}

.play_tab_con dt{color: #999999;}
.play_tab_con dt span{ float:left}
.play_tab_con dd{}
.play_tab_con a { color: #333333;  display: inline; float: left; height: 22px; line-height: 22px; margin: 2px 3px 2px 0; overflow: hidden;  padding: 0 5px;}
.play_tab_con a.select,.play_tab_con a:hover { background: none repeat scroll 0 0 #4fa7ff; border-radius: 3px 3px 3px 3px;  color: #FFFFFF;text-decoration: none;}
.con_innerBox{background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #A9E1FC;overflow: hidden; padding: 10px 10px 8px	}
.con_innerBox a {  display:inline; padding: 2px; float: left;  margin-right: 4px;  width: 114px;text-align:center;}
.play_data_table{width:100%; overflow: hidden;}
.play_data_table .data_table_header{width:100%;height:34px;line-height:34px;background:#F2F2F2;}
.play_data_table .data_table_header span{display:inline-block;border-right:1px solid  #BBBBBB;text-align:center;min-width:86px;height:34px;line-height:34px; float:left}
.play_data_table .data_table_body{width:100%;height:300px;background:#fff; overflow:hidden}
.play_data_table .data_table_body ul{text-align:center;}
.play_data_table .data_table_body ul li{height:60px;line-height:60px;width:100%;}
.play_data_table .data_table_body ul li span{float:left;display:inline-block;padding-left:1px;}
.play_data_table .data_table_body ul li span a{text-align:center;}
.play_data_table .data_table_body ul .odd{background:#FDF9EE;border-width:1px 0;height:58px;line-height:58px;border-style:solid;border-color:#FBECCB;}
/*滚动*/
.scroller{float:right;display:none;width:14px;overflow:hidden;height:300px;}
.scroller .decrease,.scroller .increase,.scroller .handle,.handle .handleL,.handle .handleR,.handle .handleC, .handle{background:url("../images/scoller_bg.png");}
.scroller .decrease{background-position:0 -88px;}
.scroller .scroll{background: none repeat scroll 0 0 #EEEEEE;height: 274px;width: 14px;z-index: 98;}
.scroller .scroll .handle{background-position: 0 -113px;cursor: pointer;display: block;height: 100%;position: relative;width: 14px;}
.scroller .increase{background-position:0 -100px;}
.decrease, .increase {cursor: pointer;display: block;height: 13px; overflow: hidden;/*position: absolute;*/width: 14px;z-index: 99;}
.handle .handleL { background-position: 0 bottom;height: 99%;overflow: hidden;padding: 2px 0;width: 14px;}
.handle .handleR {background-position: right -117px;height: 100%; width: 14px;}
.handle .handleC {background-position: 0 center;height: 100%;width: 14px;}
.play_data_table .data_table_footer{height:50px;background:#F2F2F2;padding-top:5px}
#play_list_info{ width:740px; }

/* tab 表头*/
.movie_tab{height:27px;border-bottom:2px solid #4fa7ff;padding-left:10px ; width:728px}
.movie_tab .blue{background:url("../images/tab_back_blue.gif") 0 0 no-repeat;color:#fff;font-weight:700;}
.movie_tab .gray{background:url("../images/tab_back_gray.gif") 0 0 no-repeat;}
.movie_tab span{display:inline-block;width:114px;height:27px;line-height:27px;text-align:center;margin:0px 5px;font-size:12px;}
/* 支付 */
.pay_tabbox{width:928px ;padding:10px;border:1px solid #e7e7e7}
.pay_tabbox .tabs{ padding:40px}
.pay_menu{height:27px;border-bottom:2px solid #4fa7ff;width:928px}
.pay_menu ul li{ float:left;display:inline-block;width:114px;height:27px;line-height:27px;text-align:center;margin:0px 5px;font-size:12px; background:url(../images/tab_back_gray.gif) 0 0 no-repeat; cursor:pointer}
.pay_menu .serblue{background:url("../images/tab_back_blue.gif") 0 0 no-repeat;color:#fff;font-weight:700;}
.pay_menu .gray{}
.pay_menu span{display:inline-block;width:114px;height:27px;line-height:27px;text-align:center;margin:0px 5px;font-size:12px;}
.l_h50,.redi{height:50px;line-height:50px ; float:left; margin-right:5px; display:inline}
ul.eBankList { }
ul.eBankList  li{ float:left; width:170px; }
.btnpay{ width:100%; display:inline-block}
.redi{ }
.pay_phone_number{ margin-top:10px; padding:10px; border:1px solid #c7c7c7; background:#FFF}
#countDownMin{ font-size:40px; }
#countDownSec{font-size:40px; }
.paytime{ font-size:30px;color:#F9A101 ;10px}



