
/*   热门活动  */
.hotActivity{}
.hotActivity .hd_ht{width:190px;height:40px; line-height:30px;background:#ff6600 url(../images/bg/lefthdbg.png) no-repeat bottom;text-align: center;}
.hotActivity h3{color: #fff9d9;}
.hotActivity  .hot_bd{ background:#fff2d3;height:100%; display:inline-block }
.hotlist{padding:10px 5px; width: 180px;border-bottom:1px dashed #D9B5A9}
.hotlist_hd{float: left;width:70px;}
.hotlist_bd{ padding-left: 80px;}
.hotlist_bd h3 {background: none; font-size: 14px;height: auto}
.hotlist_bd h3  a{color: #2E2926}


/*   弹出框  */
.XYTipsWindow .boxLoading {position: absolute;display: block;width: 90px;height: 30px;line-height: 30px;margin-left: -45px;margin-top: -15px;left: 50%;top: 50%;color: #f00;}
.XYTipsWindow .boxLoading{width:28px;margin-left: -14px;background:url("../images/loading.gif") no-repeat;text-indent: -999em;text-align: center;}
.XYTipsWindow .boxTitle,
.XYTipsWindow .boxTitle span,
.XYTipsWindow .boxTitle span.hover,
.XYTipsWindow .loadinglayer,
.XYTipsWindow .tipslayer,
.XYTipsWindow .arrowLeft,
.XYTipsWindow .colseBtn,
.XYTipsWindow .boxError em,
.XYTipsWindow .dialogBtn,
.XYTipsWindow .dialogBtn.hover{background-image: url("../images/ico.png");background-repeat: no-repeat;}
.XYTipsWindow .boxTitle {position: relative;border: 1px solid #A6C9E1;border-bottom: none;background-position: 0 0;background-repeat: repeat-x;height: 30px;line-height: 30px;}
.XYTipsWindow .boxTitle h3 {float: left;font-weight: normal;color: #666;font-size: 14px;margin: 0;	text-indent: 10px;}
.XYTipsWindow .boxTitle span {position: absolute;width: 10px;background-position: -80px -40px;text-indent: -10em;	right: 10px;top: 10px;height: 16px;	overflow: hidden;	cursor: pointer;}
.XYTipsWindow .boxTitle span.hover { background-position: -90px -40px; }
.XYTipsWindow .loadinglayer{ line-height: 40px; background-position: 0 -100px!important; }
.XYTipsWindow .tipslayer{line-height: 20px;text-align: left;}
.XYTipsWindow .arrowLeft{	position: absolute;width: 8px;height: 16px;background-position: -20px -170px;text-indent: -9999em;z-index: 20591;overflow: hidden;}
.XYTipsWindow .colseBtn {position: absolute;	top: 5px;	right: 5px;	width: 8px;	height: 8px;	background-position: -55px -170px;	text-indent: -9999em;	cursor: pointer;	z-index: 20591;	overflow: hidden;}
.XYTipsWindow .boxError{position: absolute;	left: 50%;top: 50%;	margin-left: -60px;	margin-top: -15px;	width: 120px;	height: 30px;	line-height: 30px;	color: #f00;}
.XYTipsWindow .boxError em{	float: left;	width:30px;	height: 30px;	background-position: -35px -140px;}
.XYTipsWindow .dialogBtn{	margin: 5px 5px 0 0;	width:80px;	height:35px;	background-position: 0 -30px;	border:none;	color:#333;}
.XYTipsWindow .dialogBtn.hover{ background-position: 0 -65px; }
.XYTipsWindow.shadow {box-shadow:2px 2px 5px #C0BBB5;-moz-box-shadow: 2px 2px 5px #C0BBB5;	-webkit-box-shadow:2px 2px 5px #C0BBB5;}
/****共用常用样式****/
.fl{float:left;}
.flie6{float:left; _float:none;}
.flie67{float:left; _float:none; +float:none;}
.fr{float:right;}
.center{text-align:center;}
.none{display:none;}
.clear{clear:both;}
.Button_d{border:2px solid #f5c178;color:#FFF;display: block;margin: 0 auto; text-align: center;
cursor:pointer;background-color: #fca43a;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fda038), to(#d1440c));
background-image: -webkit-linear-gradient(top, #fda038, #d1440c);
background-image: -moz-linear-gradient(top, #fda038, #d1440c);
background-image: -ms-linear-gradient(top, #fda038, #d1440c);
background-image: -o-linear-gradient(top, #fda038, #d1440c);
background-image: linear-gradient(top, #fda038, #d1440c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fda038', EndColorStr='#d1440c'); text-decoration: none;width:80px; height:32px; font-size:14px; font-weight:600; color:#fff; text-align:center; display:block; line-height:32px; padding: 0 10px}
.Button_d:hover{background:#a42536; color:#fff;}
.Button_x{width:87px; height:28px; line-height:28px;  border:0; color:#fff; text-align:center; cursor: pointer; display:block;font-weight:bold; padding:0px 10px;border:2px solid #f5c178;color:#FFF;display: block;margin: 0 auto; text-align: center;
	cursor:pointer;background-color: #fca43a;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fda038), to(#d1440c));
background-image: -webkit-linear-gradient(top, #fda038, #d1440c);
background-image: -moz-linear-gradient(top, #fda038, #d1440c);
background-image: -ms-linear-gradient(top, #fda038, #d1440c);
background-image: -o-linear-gradient(top, #fda038, #d1440c);
background-image: linear-gradient(top, #fda038, #d1440c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fda038', EndColorStr='#d1440c'); text-decoration: none;}
.Button_x:hover{background:#a42536; color:#fff;}
.Button_x2{height:24px; background:#90c302; border:0; color:#fff; text-align:center; cursor: pointer; display:block; line-height:24px; font-size:12px; padding:0 8px; font-weight:bold;}
.Button_x2:hover{background:#a42536; color:#fff;}
.Button_x3{height:32px; background:#90c302; border:0; color:#fff; text-align:center; cursor: pointer; display:block; line-height:24px; font-size:12px; padding:0 8px; font-weight:bold;}
.Button_x3:hover{background:#a42536; color:#fff;}
.f14{font-size:14px;font-family:"微软雅黑";}
.f16{font-family:"微软雅黑"; font-size:16px; font-weight:600;}
.f20{font-family:"微软雅黑"; font-size:20px; font-weight:600; color:#333;}
.f22{font-family:"Century Gothic"; font-size:22px; font-weight:500; color:#555;}
.f24{font-family:"Century Gothic"; font-size:22px; font-weight:500; color:#999;}
.f12{font-size:12px;}

/****内页快捷购票样式****/


/****内页选择影片样式****/

/****内页选择影院样式****/


/****内页选择场次样式****/





/****右侧影片列表样式****/
.cinema h2{height:37px; line-height:37px; text-indent:10px; font-size:14px; text-align:left; background:#a42536; color:#fff;}
.cinema h2 a{padding-right:5px; font-size:12px; font-weight:normal;}
.cinema h2 a:hover{ color:#90c302;}
.cinema .cinema_nr{border:solid 1px #ccc; width:257px; text-align:left; line-height:24px; padding-bottom:15px;}
.cinema_nr dl{width:235px; margin-top:15px; padding-left:15px;}
.cinema_nr dl dt{width:71px;}
.cinema_nr dl dd{width:150px; text-align:left; line-height:24px;}
.cinema_nr dl dd p{width:150px;}
.cinema_nr dl dd .title{margin-bottom:5px;}
/****右侧活动样式****/
.activity h2{ height:34px; line-height:34px; text-indent:10px; font-size:14px; text-align:left; background:#90c302; color:#fff;}
.activity .activity_nr{border:solid 1px #ccc; padding:11px; width:235px; height:232px; text-align:left; line-height:22px;}
.activity .activity_nr img{padding-bottom:6px;}
.activity .activity_nr .Hide{width:235px;}
.activity .activity_nr .Button_x{margin-top:8px;}

/****影院选择样式****/
.Cinema_select{width:710px; line-height:28px; margin:8px;padding:5px 10px; background:#efefef; text-align:left;}
.Cinema_select dl{width:710px; padding:5px}
.Cinema_select dt{}
.Cinema_select dd{}
.Cinema_select a{padding: 0 3px; margin:0 2px; white-space:nowrap; color:#636363}
.Cinema_select .sel,.Cinema_select a:hover{color:#FFFFFF; background:#ff800d; text-decoration:none}
.selecthover{color:#FFFFFF; background:#ff800d; text-decoration:none}
.Cinema_selectpop1{position:relative; z-index:0;}


/****影片列表样式**
.Prompt{width:621px; height:40px; line-height:40px; padding:0 10px; background:#efefef; text-align:left;}
.movie_list{ padding-bottom:20px;}
.movie_list .movie_listimg{width:170px; height:240px;}
.movie_list ul{width:451px; text-align:left;}
.movie_list ul li{width:451px; line-height:28px;}
.movie_list ul .name{border-bottom:dashed 1px #efefef; padding-bottom:5px; margin-bottom:5px;}
.movie_list ul .name dl{width:451px;}
.movie_list ul .name dl dt{width:257px;}
.movie_list ul .name dl dd{width:194px; text-align:right;}
.movie_list ul li .expansion{width:180px;}
.movie_list ul li .margin{margin-right:33px;}
.movie_list ul .Button{padding-top:5px;}
.movie_list ul .Button2,
.movie_list ul .Button dl{width:437px;}
.movie_list ul .pop{padding-top:10px; position:relative; z-index:0;}**/

/****影院列表样式****/

.cinem_pic{display:inline-block;width:130px;margin-left:6px}
.cinem_pic img{ flaot:left; width:128px; height:128px; border:1px solid #b6b6b6;display:black}
.movie_list .Cinema_listimg{width:170px; height:170px;}
.movie_list ul .Cinema_name dl dt{width:351px;}
.movie_list ul .Cinema_name dl dd{width:100px; text-align:right;}
.movie_list ul .Bus dl{width:451px;}
.movie_list ul .Bus dl dt{width:70px;}
.movie_list ul .Bus dl dd{width:381px;}
.movie_list ul .Bus dl .bus2{width:381px; height:54px; overflow:hidden;}

.movie_list ul .hot_movie{width:431px; background:#efefef; height:auto; padding:3px 10px; margin:8px 0;}
.movie_list ul .hot_movie dt{width:70px;}
.movie_list ul .hot_movie dd{width:360px; height:auto; overflow:hidden; display: block; word-break: normal;word-wrap: break-word;}
.movie_list ul .hot_movie dd a{padding:0 3px; white-space:nowrap; margin-right:5px; float:left;}

.movie_list ul .hot_buyInfo{width:417px; background:#efefef; height:28px; line-height:28px; padding:5px 10px; margin:8px 0;}
.movie_list ul .hot_buyInfo .Button_x2{width:40px;}



/****影院详情页电影块样式****/




/****影片弹出影院样式****/


/****模块抬头样式**
.module_title{width:641px; height:40px; line-height:40px; background:#efefef; text-align:left; }
.module_title a{float:left; height:40px; display:block; text-align:center; line-height:40px; background:#efefef; position:relative; z-index:0; padding:0 30px;}
.module_title .sel{background:#a42536; color:#fff;} */


/****排期选择影片样式****/
.

/****影院详情页影片样式****/


/****影院详情页排期列表样式****/


/****详情页评论样式****/



/****发表评论样式****/

/****剧照样式****/



/****预告片样式****/


/****买票步骤样式****/
.step{width:920px; height:49px; background:#efefef; line-height:49px;}
.step li{float:left; height:49px; text-align:left; padding-left:10px; overflow:hidden;}
.step .c1{width:220px; background:url(../images/index_bj.png) 197px -433px;}
.step .c2{width:220px; background:#95c60d url(../images/index_bj.png) 217px -484px; _background:#95c60d url(../images/index_bj.png) 218px -484px; +background:#95c60d url(../images/index_bj.png) 218px -484px;  color:#fff; padding-right:20px; font-weight:bold;}
.step .c2 .f24{color:#fff;}
.step .c4{width:220px; background:url(../images/index_bj.png) 191px -535px;}
.step .c5{width:200px;}.step .c14 .f24,.step .c15 .f24,.step .c11 .f24,.step .c9 .f24,.step .c2 .f24{color:#fff;}
.step .c14{width:220px; background:#95c60d; color:#fff; font-weight:bold;}



.goseat_conxz2{width:519px; top:75px; left:316px; z-index:800;}
.goseat_conxzbai{background:#fff; width:110px; height:13px; line-height:0; font-size:0; position:absolute; top:-13px; left:408px; border-left:solid 1px #a7c8e5; border-right:solid 1px #a7c8e5;}
.goseat_conxz{width:519px; top:70px; left:381px; line-height:24px; z-index:900;}

/****选座信息样式****/
.goseat_con{width:898px; text-align:left; border:solid 1px #efefef; padding:5px 10px; line-height:28px; position:relative; z-index:1;}
.goseat_con .expansion2{width:90px;}
.goseat_con .goseat_confl{width:780px;}

/****座位图样式****/
.seat_ms{ height:22px; padding:6px 0; width:641px;}
.seat_ms img{vertical-align:middle; padding:0 5px 0 20px;}
.seat_title{width:641px; background:url(../images/inmubg.jpg) no-repeat 20px 0px; width:640px; height:52px; margin-top:15px;}

.seat_tu{width:621px; overflow:auto; padding:15px 10px; border-bottom:1px dashed #cdcdcd}

/****座位图右边样式****/
.seat_ni{width:239px; padding:5px 10px; background:#fff2d2;}
.seat_ni h2{width:239px;  line-height:32px;}
.seat_ni p{width:239px; line-height:24px; text-align:left;}
.seat_ni ul{width:239px; margin-bottom:10px;}
.seat_ni ul li{width:110px; height:24px; line-height:24px; border:solid 1px #ff5d14; margin-top:5px;margin-left:5px; text-align: center; background:#fff url(../images/common/gou.png) no-repeat  right bottom; color:#000}
.seat_shuru{width:222px; padding:0 15px 15px 20px; background:#fff; border:solid 1px #ccc; margin-top:15px;}
.seat_shuru ul{width:222px;}
.seat_shuru li{text-align:left; width:214px; float:left; line-height:24px; padding-top:10px;}
.seat_shuru .input{width:200px; float:left;}
.seat_shuru .input2{width:105px; margin-right:10px; _margin-right:5px;}

/**** 选座位 提示信息*/
.x_tip_info{ padding:20px }



/****确认订单页面样式****/
.buyInfo_title{width:920px; border-bottom:dashed 1px #efefef; text-align:left; line-height:28px; padding-bottom:10px;}
.buyInfo_ts{width:226px; height:230px; _height:225px; +height:225px; padding:5px 10px; background:#efefef; margin-top:10px;}
.buyInfo_ts2{height:160px; _height:155px; +height:155px;}
.buyInfo_ts h2{width:226px;  line-height:48px; text-align:left;}
.buyInfo_ts p{line-height:28px; text-align:left; padding-bottom:10px;}
.buyInfo_ts .seat_tisi{width:226px; padding:20px 0; text-align:left; border-top:solid 1px #fff;}
.buyInfo_ts .seat_tisi .fl{margin-top:10px;}
.buyInfo_ts .seat_tisi .fr{width:180px;}
.buyinfo_kyh2{width:898px; height:28px; line-height:28px; border:solid 1px #ccc; text-align:left; padding:6px 10px; position:relative;}
.buyinfo_kyh2 .prompt_bj{margin:0 10px 0 20px;}



/****使用卡券享受优惠样式****/
.buyinfo_title{width:920px; height:40px; line-height:40px; background:#efefef; text-align:left;}
.buyinfo_title a{float:left; height:40px; display:block; text-align:center; line-height:40px; position:relative; z-index:0; padding:0 30px;}
.buyinfo_title .sel{background:#a42536; color:#fff;}
.buyinfo_kyh{width:898px; height:40px; line-height:40px; border:solid 1px #efefef; margin-top:20px; text-align:left; padding:0 10px; position:relative;}
.kuan{width:920px; padding-top:20px; line-height:30px; float:left; _float:none; }
.kuan .input{width:200px; margin-right:15px;}
.kuan .input2{width:130px;}
.kuan p{padding-left:20px;}

.buyinfo_kyh3{width:898px; line-height:28px; border:solid 1px #ccc; text-align:left; padding:5px 10px; margin-top:20px;}

/****支付样式****/
.buyinfo_title2{margin-top:25px;}
.buyinfo_title2 .sel span{right:50px;}
.sel_pay{width:910px; margin:25px 0; text-align:left;}
.sel_pay a{ display:inline-block; width:90px;}
.sel_pay a img{width:119px; height:42px; margin-left:8px;}
.sel_pay label{width:180px; height:36px; display:inline-block; position:relative; float:left;}
.sel_pay label a,
.sel_pay label a:hover{ text-decoration:none;}
.sel_pay label input{ margin-right:0; line-height:36px;}
.sel_pay label img{position:absolute; left:16px; top:-4px;}


/****订单成功页面样式****/
.success_kuan{width:878px; padding:10px 20px; border:solid 1px #e7edf3;}
.success_kuan .fl{padding-left:50px;}
.success_kuan .fr{width:680px; text-align:left; line-height:28px;}

/****查看地图页面样式****/
.map{width:625px; height:475px; border:solid 1px #a1c5e4;}
.map2{width:246px; text-align:left; line-height:28px;}
.map2 dl{width:246px; padding:5px 0;}
.map2 dl dt{width:65px; text-align:right;}
.map2 dl dd{width:175px; line-height:18px; padding-top:5px;}
.map3{border-top:solid 1px #e7edf3; margin-top:20px; padding-top:10px;}


/****活动列表样式****/
.actions_list li{ margin-bottom:15px; border-bottom:1px dashed #ccc; padding-bottom:10px;}
.actions_list li p{ width:426px;margin-left:15px; line-height:27px;}
.actions_content p{line-height:22px;}


/****活动列表样式****/
.detail_head{float: left; background: #F3F3F3;width: 950px; margin-bottom:10px }
.detail_head_pic{ float: left;padding: 10px 45px 15px;  width: 165px;}
.detail_head_pic img{ border:1px solid #999 ; width: 165px; height: 165px} 
.detail_head_desc{float: left;   padding: 10px 20px 15px 0; width: 660px}
.detail_head_name h1 { font-family: '微软雅黑','宋体'; font-size: 28px;  font-weight: normal;  line-height: 30px;}
.actions_content p{line-height:22px;}
.detail_head_desc .uiText {
    width: 86.5%;
}
/****电片列表样式****/
.movie_head{float: left; background: #F3F3F3;width: 950px; margin-bottom:10px }
.movie_head_pic{ float: left;padding: 10px 30px 15px;  width: 210px;}
.movie_head_pic img{ width:210px; height:280px}
.movie_head_desc{float: left;   padding: 10px 10px 15px 0; width: 665px}
.desc_left{float: left;width: 370px}
.desc_right{float: right; width: 260px; padding:6px;background:#fffbf1; border: 1px solid #faa200;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.desc_right .bgs{background: #fff;padding: 8px;-moz-border-radius: 9px;-webkit-border-radius: 9px;border-radius: 9px;}
.desc_right h2{font-family: '微软雅黑','宋体';   font-weight: normal;  line-height:22px;}
.movie_head_name h1 { float:left;font-family: '微软雅黑','宋体'; font-size: 28px;  font-weight: normal;  line-height: 30px;}
.movie_head_name span{ padding:8px 0 0 5px; font-size: 14px; color: #707070;display: inline-block;}
.actions_content p{line-height:22px; }
.movie_head_desc .uiText {}


/****影院排片页面****/
.ffst a{color:##16A2E0}
.ui_abeam dd,.ui_abeam dt{ line-height:24px}
.hthd{ height:32px; line-height:32px; font-size:14px; text-align:left; float:left; width:730px}
.ui_abeam {overflow: hidden;  position: relative; width: 100%; z-index: 0; }
.uipic {display: inline-block;text-align: center;  width: auto;}
.title, .titleB {  height: 26px;   line-height: 26px;position: relative;   width: 100%;   z-index: 0;}
.uiTextA em, .uiText em {  color: #999999;}
.uiText p{ text-align:left; line-height: 22px; padding: 2px 0}
sub {  color: #FF6600;  font-size: 22px;  font-style: italic;  font-weight: bold;  line-height: 24px; margin-left:2	px; vertical-align: middle;}
sup {  color: #FF6600; font-size: 16px; font-style: italic; font-weight: normal; line-height: 20px;margin-left: 2px;  vertical-align: top;}

/****留言****/
.ui_message {  overflow: hidden; width: 100%;margin-bottom: 10px}
.ui_wala_listing {padding-left: 70px;position: relative; vertical-align: top; margin-top:10px }
.ui_wala_textArea {   background-color: #FFFFFF;border: 1px solid #A8A8A8; border-radius: 5px 5px 5px 5px; height: 60px; padding: 4px; width: auto;}
.pubpic span, .pubpic img {  border-radius: 3px 3px 3px 3px;}
.pubpic, .picmin, .picmax { background: none repeat scroll 0 0 #F9F9F9;  display: inline-block;  height: 50px;  margin: 0 auto 5px;  overflow: hidden;   width: 50px;}
.page_wala_talk a {color: #C03B0C;}
.ui_wala_textArea textarea {background: none repeat scroll 0 0 #FFF;border: medium none;  display: block;  font-size: 12px;  height:58px;
 ine-height: 20px; margin: 0;overflow-y: hidden;position: relative; resize: none; width: 98%;z-index: 5;}
.ui_wala_listing .ui_wala_wrap .page_wala i.l {color: #A8A8A8;  left: 62px;}
.ui_wala_listing .ui_wala_wrap .page_wala i.l i { color: #FFFFFF;}
.page_wala i { display: inline-block;   font-family: 'SimSun'; font-size: 16px;
 font-style: normal; height: 22px;line-height: 26px;overflow: hidden; position: absolute;}
.ui_wala_wrap{ width: 646px}
.ui_wala_listing { padding-left: 70px; position: relative; vertical-align: top;}
.ui_wala_listing .ui_wala_aside { left: 10px; position: absolute; top: 12px;}
.ui_wala_original { clear: both;margin-top: 10px;overflow: hidden; padding-left: 70px;}
.ui_wala_original .uipic { float: left;  margin-left: -70px;  margin-right: 0;   overflow: hidden;   width: 70px;}
.ui_wala_original .page_wala {padding: 5px 10px;}
.ui_view_solide { width: 637px; padding:0 0 15px 0; background: none repeat scroll 0 0 #F8F8F8;border: 1px solid #DFDFDF; border-radius: 5px 5px 5px 5px;position: relative;}
.page_replay {color: #999999;height: 24px; line-height: 24px;position: relative;width: 100%;z-index: 1;}
.page_wala i.l {  color: #DFDFDF;   left: -8px;   top: 10px;}
.ui_message .hover i.l {  color: #FFE3BD;}
.page_wala i.l i { color: #F8F8F8;  left: 1px; top: 0;}
.ui_message .hover i.l i { color: #FFF6EE;}
.page_wala .t {color: #DDD; left: 20px;  top: -13px;}
.page_wala i.t i {color: #FFF; left: 0;top: 1px;}
.ui_message .hover i.t {color: #DDD;left: 20px; top: -13px;}
.ui_message .hover i.t i { color: #FFF;left: 0; top: 1px;}
.ui_message .hover {  background:#FFF6EE; border-color:#FFE3BD; }




/* 通票*/
.more-group { margin: 8px 0 0;  padding:0 0 0 10px}
.more-group ul li{ float: left;  margin: 5px 5px 0 0;  padding-bottom: 15px; position: relative; width: 240px;}
.more-group ul li h3{font: 12px;  text-align: left;padding:2px 0px 2px 10px; font-weight: 400}
.more-group ul li h3 a{color: #3566CD}
 .more-group ul li .pic {  border:1px solid #ddd;  height: 220px;  margin: 7px auto 0;  overflow: hidden;  position: relative;  width: 220px; padding:5px;}
.more-group ul li .buy-action .price em {  font-family: "Microsoft Yahei","Arial","Verda","tahoma";  font-size: 26px;  font-weight: bold;  margin-right: 3px;}
.more-group ul li .buy-state .orig-price {  float: left;   font-size: 12px; padding: 0 4px 0 10px;}
.orig-price del {  text-decoration: line-through;}
.more-group ul li .buy-state .orig-price del, .more-group ul li .buy-state .orig-price strong {    font-family: Arial;  font-weight: bold;  margin-left: 3px;}
.more-group ul .buy_info{padding:0 5px 0 10px}
.more-group ul .buy_btn{ float: right;}
.list-act-link{}
.uiText{ padding-left: 5px}
/*****400 *****/
.list404{ margin: 50px auto; padding: 0 100px}
.list404 dd,.list404 dt{ float: left;}
.list404 dd{padding: 36px 0 0 46px ; background:url(../images/temp/404_r.jpg) no-repeat; width:378px; height: 125px; margin-top:75px}
.list404 dd h2{ font-size: 20px}
.list404 dd h3{ font-weight: normal; margin:10px 0}
.list404 dd a{color: #0094c4; margin-left: 5px}
.uiText b a{ color:#000000}
.go_select_seat{display: block;text-align: center;}
#table_SeatList a{ display: inline-block;margin: 2px;}

