#pay{width:948px;margin:0 auto;min-height:100px;height:auto;border:1px solid #e7e7e7;overflow:hidden;border-bottom:none;}
.pay_module{width:928px;min-height:50px;height:auto;padding-top:15px;padding-left:10px;}
.top_img_back{background:url("../images/tab_top_back.png") 0 0 no-repeat;}
.use_btn{background:url("../images/use_btn.png") 0 0 no-repeat;width:61px;height:26px;color:#fff;text-align:center;border:none;}
.pay_btn{background:url("../images/pay_bt_normal.png") 0 0 no-repeat;width:97px;height:31px;color:#fff;text-align:center;border:none;}
.pay_submit{text-align:center;margin:30px 0 20px 0;}
.use_btn_light{background:url("../images/use_btn_light.png") 0 0 no-repeat;}
.h_30{height:30px;line-height:30px;}
.w_150{width:150px;}
.cw{color:#fff;}
.gray_back{border-bottom:1px solid  #e7e7e7;}
.w928{width:928px;}
.gray_border{border:1px solid  #e7e7e7;}
.green_border3{border:3px solid  #02633a;}
.gray_border3{border:3px solid  #e7e7e7;}
.m_top{_margin-top:4px;}
.gray_img_border{background:url("../images/bottom_border_01.png") 0 0 repeat;height:8px;line-height:8px;}
.pay_tool_list{width:928px;min-height:50px;overflow:hidden;}
.pay_tool_list .descri{float:left;display:inline;width:125px;line-height:50px;text-align:right;margin-top:8px;}
.pay_tool_list .content{float:left;width:768px;}
.pay_tool_list .content li{float:left;display:inline-block;white-space:nowrap;width:170px;height:50px;line-height:50px;margin:8px;}
.pay_tool_list .content li span{float:left;display:inline;height:50px;line-height:50px;margin:auto 2px;}
.pay_tool_list .content li span input{height:15px;width:15px;_margin-top:20px;}/*IE6需要设置input的宽度*/


#prefer_info{width:928px;background:#ebf8ff;display:inline-block;min-height:50px;}
#prefer_info .module{float:left;background:#fff;margin:15px 10px 12px 10px;padding:18px 20px;width:868px;}
#prefer_info ul li{float:left;display:inline;width:410px;white-space:nowrap;margin:5px 10px;}

#prefer_info ul li dl{width:100%;}
#prefer_info ul li dl dt{float:left;display:inline-block;padding:0 5px;text-align:center;line-height:46px;height:46px;}
#prefer_info ul li dl dt input{width:15px;height:15px;_margin-top:18px}/*IE6需要设置input的宽度*/
#prefer_info ul li dl dd{float:left;display:inline-block;padding:5px 3px;height:46px;line-height:20px;overflow:hidden;}
#prefer_info ul li dl dd p{width:205px;}

#prefer_info div dl{float:left;width:868px;}
#prefer_info div dl dt,dd{float:left;display:inline;padding:0 5px;height:30px;line-height:30px;color:#000;}
#prefer_info div dl dt{text-align:right;padding-top:2px;}

#prefer_result{color:#333;font-weight:700;font-size:16px;text-align:left;padding:20px 30px;}
#pay_result{color:#000;font-weight:700;font-size:20px;text-align:right;padding:15px 25px;}

#pay_tool_info{min-height:50px;padding-top:5px;min-height:395px;}

